POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database>
POSTGRES_HOST=<host>
POSTGRES_PORT=<port>

MAIL_HOST=smtp.163.com
MAIL_USER=<email>
MAIL_PASSWORD=<password>
MAIL_PORT=2525
MAIL_FROM=<email>

DATABASE_URL=postgres://tm_user:tm_password@localhost/tm_backend